{% extends "base.html" %}

{% block main %}
<p>
    Bank of SevenHills, a leading private sector bank in India, offers Netbanking services & Personal banking services like Accounts & Deposits, Cards, Loans, Insurance & Investment products to meet your banking needs.

</p>
<P>
    BOS offers a diverse range of financial products and banking services to customers through a growing branch and ATM network and digital channels such as Netbanking, Phonebanking and MobileBanking.
</P>
<p>
    Under our treasury services, we help businesses generate better returns on their funds and manage financial risk. We focus on three main product areas: foreign exchange and derivatives, local currency money market and debt securities, and equities.
    </p>
    <p>
        BOS offers a wide gamut of commercial and transactional banking services to businesses and organizations of all sizes. Our services include working capital finance, trade services, transactional services and cash management.
    </p>



{% endblock main %}